// Add your own CSS here!

:root {
  --light: #f8f9fa;
  --dark: #212529;
  --secondary: #dee2e6;
  --tertiary: #b5838d;
  --visited: #e5989b;
  --primary: #ffb4a2;
  --gray: #adb5bd;
  --lightgray: #f8f9fa;
  --outlinegray: #ced4da;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #212529 !important;
  --dark: #f8f9fa !important;
  --secondary: #d9ed92 !important;
  --visited: #b5e48c !important;
  --tertiary: #99d98c !important;
  --primary: #52b69a !important;
  --gray: #dee2e6 !important;
  --lightgray: #212529 !important;
  --outlinegray: #ced4da !important;
  --highlighted: #d9ed9288;
}



