// Add your own CSS here!

:root {
  --light: #f2e9e4;
  --dark: #22223b;
  --secondary: #6d6875;
  --tertiary: #b5838d;
  --visited: #e5989b;
  --primary: #ffb4a2;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #081c15 !important;
  --dark: #d8f3dc !important;
  --secondary: #d9ed92 !important;
  --visited: #b5e48c !important;
  --tertiary: #99d98c !important;
  --primary: #52b69a !important;
  --gray: #40916c !important;
  --lightgray: #1b4332 !important;
  --outlinegray: #2d6a4f !important;
  --highlighted: #52b788;
}



